<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dd_ai_end.mapper.AiMessageMapper">
    <select id="findAiMessageByAiId" resultType="AiMessage">
        SELECT * FROM ai_message WHERE ai_message_id = #{aiMessageId}
    </select>

    <insert id="insertAiMessage" parameterType="com.example.dd_ai_end.entity.AiMessage" useGeneratedKeys="true" keyProperty="aiMessageId">
        INSERT INTO ai_message (content_ai, timestamp_ai, use_time)
        VALUES (#{contentAi}, #{timestampAi}, #{useTime})
    </insert>
</mapper>